.main-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.main-screen-img {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
}

.main-screen-open-scan-button, 
.main-screen-click-scan-button, 
.main-screen-close-scan-button {
    position: absolute;
    opacity: 0;
    padding: 0;
}

.main-screen-open-scan-button {
    right: 2vw;
    bottom: 12.2vh;
    width: 40vw;
    height: 5vh;
}

.main-screen-click-scan-button {
    right: 40vw;
    bottom: 5vh;
    width: 60vw;
    height: 7vh;
}

.main-screen-close-scan-button {
    right: 2vw;
    bottom: 20vh;
    width: 5vh;
    height: 5vh;
}