.achievements_page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F5F7FA;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievements_page_title {
    padding: 5vh 0;
    background-color: gold;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    gap: 12px;
    margin: 0;
}

.achievements_page_container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.achievements_page_segment {
    font-size: 18px;
    width: 80vw;
    background: linear-gradient(135deg, #e7ecef 0%, #8583ba 100%);
    border: 1px solid black;
    box-shadow: 5px 10px 5px gray;
    border-radius: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: 3vh 0;
    padding-bottom: 5px;
}

.achievements_page_segment_title {
    display: flex;
}

.achievements_page_segment_title div {
    padding: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.achievements_page_segment_title img {
    width: 10vh;
    height: 10vh;
}

.achievements_page_segment_progress_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.achievements_page_segment_progress_block button {
    padding: 2px 5px;
}

.achievements_page_segment_list {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.achievements_page_segment_list span {
    min-height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.achievements_page_segment_list svg {
    padding-right: 3vw;
    min-width: 24px;
    height: 24px;
}