.bottom_bar{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed !important;
    bottom: 0 !important;
    left: 0;
    z-index: 9999;
    padding: 0; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #e0e0e0;
}

.bottom_bar img {
    width: 100%;
    height: auto;
    display: block;
}

.bottom_bar_initial_button,
.bottom_bar_achievements_button {
    position: absolute;
    z-index: 3;
    padding: 0;
    opacity: 0;
}

.bottom_bar_initial_button {
    left: 5vw;
    bottom: 5vh;
    width: 5vh;
    height: 4.5vh;
}

.bottom_bar_achievements_button {
    left: 44.5vw;
    bottom: 5vh;
    width: 5vh;
    height: 4.5vh;
}